@import "../../colors";

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.black {
  background-color: $black;
}

.white {
  background-color: $white;
}

.selected {
  background-color: $orange;
}

.highlighted {
  background-color: $yellow;
}